---
import { DateTime } from "luxon";
import sqlite3 from "sqlite3";
import * as dbService from "../services/db_service";
import { MediaEntry } from "../services/db_service";
import * as longService from "../services/long_service";
import worldImage from "../assets/world.png";
import worldImageInverted from "../assets/world_invert.png";
import PageManagerC from "../components/PageManagerC.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return longService.getRegionPgPaths();
}

let { regionPg } = Astro.params;
if (regionPg === undefined) {
  throw new Error("Region is required");
}

let regionPgParts: string[] = regionPg.split("-");
let region: string = regionPgParts[0];
let pageString: string = regionPgParts[1];
let page: number = parseInt(pageString);
let now: number = DateTime.utc().toSeconds();
let todayStart: number = now - (now % 86400);
let rangeMin = todayStart - (page - 1) * 86400;
let rangeMax = todayStart - (page - 2) * 86400;
let db: sqlite3.Database | null = null;
let mediaEntries: MediaEntry[] | null = null;
try {
  db = dbService.getDatabase();
  let urlsRegions: Map<string, string[]> = await dbService.getUrlsRegions(
    db,
    region
  );
  mediaEntries = await dbService.getMediaEntries(
    db,
    urlsRegions,
    rangeMin,
    rangeMax
  );
} catch (error) {
  throw new Error(error);
} finally {
  if (db) {
    dbService.closeDatabase(db);
  }
}
mediaEntries.sort((a, b) => b.timestamp - a.timestamp);

let url = new URL(Astro.request.url);
let origin = url.origin;
let previous: string = origin + "/" + region + "-" + (page - 1);
let next: string = origin + "/" + region + "-" + (page + 1);
---

<meta charset="UTF-8" />
<title>
  {
    longService.getNameFromIso(region) +
      " " +
      DateTime.fromSeconds(rangeMax).toFormat("LLLL d, yyyy")
  }
</title>
<link rel="stylesheet" href="/global.css" />
<div class="flex flex-col" style="position: fixed; top: 1rem; left: 1rem;">
  <a href={origin}>
    <button class="inline-block">
      <Image
        src={worldImage}
        alt="world icon"
        width={48}
        height={48}
        loading="eager"
      />
    </button>
  </a>
  <a href={origin + "/dark"}>
    <button class="inline-block">
      <Image
        src={worldImageInverted}
        alt="world icon"
        width={48}
        height={48}
        loading="eager"
      />
    </button>
  </a>
</div>
<div class="pt-4 mx-auto w-fit text-center flex space-x-2">
  <p class="text-4xl font-bold text-gray-800">
    {longService.getNameFromIso(region)}
    {DateTime.fromSeconds(rangeMax).toFormat("LLLL d, yyyy")}
  </p>
</div>
<PageManagerC
  page={page}
  previous={previous}
  next={next}
  origin={origin}
  region={region}
/>
<div class="pb-2 border-b border-gray-800 mx-auto w-4/5"></div>
<ol>
  {
    mediaEntries.map(async (item) => (
      <div class="p-2 m-2 border border-gray-600 w-3/5 mx-auto rounded-lg">
        <li>
          <a href={item.url} target="_blank" class="flex">
            <Image
              src={item.image_url}
              alt="media icon"
              width={1}
              height={1}
              class="size-1/6 max-w-fit max-h-fit rounded-lg"
            />
            <div class="ml-2">
              <p class="text-gray-800 font-bold"> {item.title}</p>
              <p class="text-gray-600">{item.date}</p>
              <p class="text-gray-800">{item.body}</p>
            </div>
          </a>
          <div class="mt-2 mb-2 flex justify-between items-center">
            <div class="border-b border-gray-600 w-1/2" />
            <p class="text-gray-600 text-xs mx-2">GEOKEYS</p>
            <div class="border-b border-gray-600 w-1/2" />
          </div>
          {item.regions.map((region) => (
            <a href={origin + "/" + region + "-" + pageString}>
              <button class="inline-block p-1 mr-1 mb-2 border border-gray-600 rounded-lg">
                <p class="text-gray-800">
                  {longService.getNameFromIso(region)}
                </p>
              </button>
            </a>
          ))}
        </li>
      </div>
    ))
  }
</ol>
<PageManagerC
  page={page}
  previous={previous}
  next={next}
  origin={origin}
  region={region}
/>
<div class="p-2 mx-auto">
  <a
    href="https://www.flaticon.com/free-icons/world"
    target="_blank"
    title="world icons"
    class="text-gray-800">World icon created by prettycons - Flaticon</a
  >
</div>
