<div id="map" class="bg-custom-gray h-screen w-screen relative overflow-hidden">
</div>
<script src="../leaflet/leaflet_script.js"></script>
<script>
  import * as L from "leaflet";
  import * as GeoJSON from "geojson";
  document.addEventListener("DOMContentLoaded", function () {
    var map = L.map("map", {
      minZoom: 2,
      maxZoom: 6,
      worldCopyJump: true,
      attributionControl: false,
    }).setView([0, 0], 3);
    L.tileLayer(
      "https://{s}.basemaps.cartocdn.com/rastertiles/dark_all/{z}/{x}/{y}{r}.png"
    ).addTo(map);
    fetch("regions.geojson")
      .then((response: Response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Failed to load GeoJSON file");
        }
      })
      .then((data: GeoJSON.GeoJsonObject) => {
        L.geoJSON(data, {
          onEachFeature: (feature: GeoJSON.Feature, layer: L.Layer) => {
            let properties = feature.properties;
            if (!properties) {
              return;
            }

            let code = properties["ISO_A2"].toLowerCase();
            if (code === "-99" || code.length > 2) {
              code = properties["ISO_A2_EH"].toLowerCase();
              if (code === "-99") {
                switch (properties["ADMIN"]) {
                  case "Northern Cyprus":
                    code = "cy";
                    break;
                  case "Somaliland":
                    code = "so";
                    break;
                }
              }
            }

            if (layer instanceof L.Path) {
              layer.setStyle({
                color: "#ebd8d5",
                weight: 1,
                fillOpacity: 0,
              });
            }

            layer.on("click", () => {
              window.location.href += "-" + code + "-1";
            });
          },
        }).addTo(map);
      })
      .catch((error: Error) => {
        throw error;
      });
  });
</script>
